*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;    
}

header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;    
}

.logo-container, .nav-links, .cart {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo-container img {
    height: 6vh;
    margin-top: -5%;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: #9c7e62;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    flex: 1;    
    justify-content: flex-end;
    opacity: 0.8;    
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 50vh;
    align-items: center;
    justify-content: center;
}

.intro-text h1{
    font-size: 50px;
    font-weight: 500;
    background: 
    -webkit-linear-gradient( #ff1f4f, #9c7e62);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}

.intro-text p {    
    margin-top: 5px;
    font-size: 22px;
    color: #9c7e62;
    text-align: center;    
}

.nav-sections {
    height: 20vh;    
}

.section1 {    
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "intro-cafes imagem-cafe"
        "botao imagem-cafe";
}

.section2 {        
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "imagem-tortas intro-tortas"
        "imagem-tortas botao";
} 

.intro-cafes {
    grid-area: intro-cafes;    
    justify-self: center;
    align-self: end;
}

.intro-cafes h1 {    
    font-size: 40px;
    font-weight: 500;
    color: #9c7e62; 
    text-align: center;     
}

.intro-cafes p {    
    font-size: 22px;
    color: #585772;
    text-align: center;    
}

.botao {    
    justify-self: center;
    align-self: center;
    grid-area: botao;
}

.botao-int {
    border: 2px solid #9c7e62;
    background: transparent;
    color: #9c7e62;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    align-items: center;    
}

.imagem-cafe {
    height: 70vh;
    padding: 20px 20px;   
    grid-area: imagem-cafe;     
    text-align: center;
    margin-left: 30px;    
}

 .imagem-cafe img {
    height: 100%;
    filter: drop-shadow(20px 10px 5px rgb(92, 62, 17));   
} 

.intro-tortas {
    grid-area: intro-tortas;
    align-self: end;
    justify-content: center;
}

.intro-tortas h1 {    
    font-size: 40px;
    font-weight: 500;
    color: #9c7e62; 
    text-align: center;            
}

.intro-tortas p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
    text-align: center;               
}

.imagem-tortas {
    grid-area: imagem-tortas;    
    height: 70vh;
    padding: 20px 20px;  
    margin-right: 30px;        
}

.imagem-tortas img {
    height: 100%;
    filter: drop-shadow(20px 10px 5px rgb(92, 62, 17));        
}

.circle1, .circle2, .circle3 {      
    position: absolute;   
    border-radius: 50%; 
    z-index: -1;    
}

.circle1 {
    background: white;
    background: linear-gradient(to right bottom, rgba(236, 214, 214, 0.9), rgba(255, 255, 255, 0.1)); 
    top: 10%;
    right: 10%;
    height: 10rem;
    width: 10rem;
}

.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(236, 214, 214, 0.9), rgba(255, 255, 255, 0.1)); 
    top: 40%;
    left: -10%;
    height: 30rem;
    width: 30rem;
}

.circle3 {
    background: white;
    background: linear-gradient(to right bottom, rgba(236, 214, 214, 0.9), rgba(255, 255, 255, 0.1)); 
    top: 155%;
    right: 5%;
    height: 20rem;
    width: 20rem;
}

footer {
    background: #9c7e62;
    height: 30vh;       
}

footer p {
    padding: 10px 0px 0px 0px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: white;
}

footer h4 {
    padding: 25px 0px 0px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(8, 1, 1);
}

.redes-sociais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes-sociais img{                    
    height: 8vh;
}

.redes-sociais a {
    padding: 25px 0 0 0;
    margin-left: 20px;
}

@media screen and (max-width: 1024px) {
    
    .nav-link {
        font-size: 16px;
        margin-left: 3vw;
    }

    .logo-container img {
        height: 4.5vh;
        margin-top: -1.6vh;
    }

    .presentation {
        margin-top: -10vh;
        margin-bottom: -10vh;
        text-align: center;        
    }
    .intro-text h1 {
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }

    .nav-sections {
        height: 10vh;    
    }
    
    .section1 {            
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "intro-cafes"
            "imagem-cafe"
            "botao";            
    }
    
    .section2 {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
            "intro-tortas"
            "imagem-tortas"
            "botao";
    } 
    
    .intro-cafes {
        grid-area: intro-cafes;
        align-self: center;
        margin-top: 20px;
    }
    
    .intro-cafes h1 {    
        font-size: 26px;
        font-weight: 500;
        color: #9c7e62; 
        text-align: center;         
    }
    
    .intro-cafes p {    
        margin-top: 5px;
        font-size: 16px;
        color: #585772;
        text-align: center;    
    }
    
    .botao {    
        justify-self: center;
        align-self: center;
        grid-area: botao;
        padding: 20px 0px;
    }  
    
    .imagem-cafe {
        height: 50vh;
        padding: 20px 0px;   
        grid-area: imagem-cafe; 
        align-self: center;
        text-align: center;
        margin: 0px;
    }
       
    .intro-tortas {
        grid-area: intro-tortas;
        align-self: center;    
        margin: 0px;    
    }
    
    .intro-tortas h1 {    
        font-size: 26px;
        font-weight: 500;
        color: #9c7e62; 
        text-align: center;        
    }
    
    .intro-tortas p {
        margin-top: 5px;
        font-size: 16px;
        color: #585772;
        text-align: center;       
    }
    
    .imagem-tortas {
        grid-area: imagem-tortas;    
        height: 50vh;
        padding: 20px 0px; 
        align-self: center;
        text-align: center;
        margin: 0px;
    }
    
    .presentation, .section1, .section2 {
        display: flex;
        flex-direction: column;
    } 

    .circle1, .circle2, .circle3 {
        opacity: 0.4;
        
    }
    
}






